{% extends 'base.html' %}

{% block content %}
    <h2>All Books</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Is Published</th>
                <th scope="col">Is Active</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.qty }}</td>
                <td>{{ book.is_published }}</td>
                <td>{{ book.is_active }}</td>
                <td>
                    <a href="{% url 'show_single_books' book.id %}" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>


                    







  

